{% extends 'home/base.html' %}

{%block branding%}
<h1>Lap Poll App Pu</h1>
{%endblock%}

{% block content %}
  <h1>Welcome Polls Apps</h1>
  <ul>
    <li>
      <a href="/accounts/login/">Login</a>
    </li>
    <li>
      <a href="/signup">Sign Up</a>
    </li>
  </ul>
  
{% endblock %}
