{% extends 'polls/base.html' %}
<!-- {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
 -->
 
{%block branding%}
<h1>Questions</h1>
{%endblock%}

{%block content%}
<ul class="sidebar-nav">
	{% if user.is_authenticated %}
	<li>User: {{ user.get_username }}</li>

		<li><a href="{% url 'logout'%}">Logout</a></li>   
		<br>
		<br>

		{% if latest_question_list %}
		<ul>
			{% for question in latest_question_list %}
			<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<p>No polls are available</p>
		{% endif %}
	{% else %}
		<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
	{% endif %} 
</ul>
{%endblock%}
