{% extends 'polls/base.html' %}

	{%block branding%}
	<h1 >{{question.question_text}}</h1>
	{%endblock%}

	{%block content%}
	<h1>Current Vote tally</h1>

	<ul>
	{% for choice in question.choice_set.all %}
		<li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
	{% endfor %}
	</ul>

	<!-- <a href="">Vote again?</a> -->

	<form action="{% url 'polls:detail' question.id%}">
		<input type="submit" value="Vote again?" >
	</form>

	<form class='goBack' action="/polls">
		<input type="submit" value="Back to Polls" >
	</form>
	
	{%endblock%}
